<!DOCTYPE html>
<html>
<title>API for Superheroes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" type="image/x-icon" href="/marvel-favicon.ico" />
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

<header class="w3-container w3-center w3-padding-32">
  <h1><b>&#10216; API-documentation &#10217;</b></h1>
</header>

<div class="w3-row">

<div class="w3-col l8 s12">
  <!-- API for Superheroes -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="marvel.jpg" alt="Nature" style="width:100%;">
    <div class="w3-container">
      <h2><b>API for Superheroes</b></h2>
      <h5><span class="w3-opacity">December 16, 2018</span></h5>
    </div>

    <div class="w3-container">
      <p style="font-size:18px;">This is an API-project for Superheroes, how cool is that! You can fetch data with GET-method through browser. For POST, PUT and DELETE you need an API Development Environment, <a style="color: #0049fb;" href="https://www.getpostman.com/" target="_blank">Postman</a> for example.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!--<p><button class="w3-button w3-padding-large w3-pale-blue w3-border"><b>Launch the Application »</b></button></p>-->
        </div>
        <div class="w3-col m4 w3-hide-small">
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="w3-col l4">

  <!-- API endpoints -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding" style="background-color: #ffd68c;">
      <h3>API endpoints</h3>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <a style="text-decoration:none;" href="https://superheroes-api.herokuapp.com/api/getall" title="Show all Superheroes!"><li class="w3-padding-16" style="background-color: #acbec1;">
        <img src="first.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><strong>/api/getall</strong></span><br>
        <span>&#x2022; Show all Superheroes with GET-method</span>
      </li></a>
      <li class="w3-padding-16" style="background-color: #ffffff;">
        <img src="second.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><strong>/api/get/id_here</strong></span><br>
        <span>&#x2022; Show a specific Superhero with GET-method</span>
      </li>
      <li class="w3-padding-16" style="background-color: #acbec1;">
        <img src="third.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><strong>/api/post</strong></span><br>
        <span>&#x2022; Add a Superhero with POST-method</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small" style="background-color: #ffffff;">
        <img src="fourth.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><strong>/api/put/id_here</strong></span><br>
        <span>&#x2022; Modify Superhero by ID with PUT-method</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small" style="background-color: #acbec1;">
        <img src="fifth.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><strong>/api/delete/id_here</strong></span><br>
        <span>&#x2022; Delete Superhero with DELETE-method</span>
      </li>
    </ul>
  </div>
  <hr>

</div>

</div><br>

</div>

<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
</footer>

</body>
</html>
